@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body{
    font-family: "Ubuntu";
    margin: 0;
    text-align: center;
    color: #fff;
    background-color: #251111;
}

.keys{
    margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
    cursor: pointer;
}

.key{
    width: 160px;
    height: 160px;
    float: left;
    transition: all 0,07s;
    border-radius: 5px;
    background-color: #a12929;
    margin: 20px;
}

kbd{
    display: block;
    padding-top: 30px;
    font-size: 60px;
    color: #e8b10c;
}

.playing{
    box-shadow: 0 0 30px 0 rgba(55, 28, 235, 0.3); 
}